@CHARSET "ISO-8859-1";
.body { padding-top: 70px; }
.glyphicon.glyphicon-print {
    font-size: 125px;
}
.glyphicon.glyphicon-qrcode {
    font-size: 125px;
}
.glyphicon.glyphicon-pencil {
    font-size: 125px;
}
.glyphicon.glyphicon-file {
    font-size: 125px;
}
.affix {
	bottom: 100px;
    right:50px;
    position:fixed;
}
.glyphicon.glyphicon-circle-arrow-up {
    font-size: 25px;
}

.glyphicon.glyphicon-facetime-video {
    font-size: 20px;
}