@CHARSET "ISO-8859-1";
.glyphicon.glyphicon-print {
    font-size: 125px;
}
.glyphicon.glyphicon-qrcode {
    font-size: 125px;
}
.glyphicon.glyphicon-pencil {
    font-size: 125px;
}
.glyphicon.glyphicon-file {
    font-size: 125px;
}
.glyphicon.glyphicon-ok{
	font-size: 125px;
}
.glyphicon.glyphicon-remove{
	font-size: 125px;
}
.glyphicon.glyphicon-plus{
	font-size: 125px;
}
.glyphicon.glyphicon-user{
	font-size: 125px;
}
.glyphicon.glyphicon-folder-open{
	font-size: 125px;
}
.glyphicon.glyphicon-tags{
	font-size: 125px;
}
.glyphicon.glyphicon-share{
	font-size: 125px;
}
.glyphicon.glyphicon-font{
	font-size: 125px;
}
.glyphicon.glyphicon-comment{
	font-size: 125px;
}
.glyphicon.glyphicon-book{
	font-size: 125px;
}
.glyphicon.glyphicon-upload{
	font-size: 125px;
}
.glyphicon.glyphicon-list-alt{
	font-size: 125px;
}
.glyphicon.glyphicon-align-justify{
	font-size: 125px;
}
.glyphicon.glyphicon-paste{
	font-size: 125px;
}
.affix {
	bottom: 100px;
    right:50px;
    position:fixed;
}
.glyphicon.glyphicon-circle-arrow-up {
    font-size: 25px;
}


.glyphicon.glyphicon-facetime-video {
    font-size: 20px;
}

.well{
	font-size: 20px;
}